/* Search Result Card */

.row-one,
.row-two {
  margin: 0 auto;
}
.row-three,
.row-four,
.row-five,
.row-six {
  margin: 2rem auto;
}

.service-type {
  font-size: 2rem;
}

/*Reservation Form*/

.main-container {
  border: 2px solid black;
  border-radius: 6px;
  padding: 11px;
}

.h3-primary{
  text-align: center;
  margin: 30px;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.bus-outline{
  width: 175px;
  margin: auto;
  border: 2px solid rgb(114, 73, 73);
}

.driver{
  background: url("/src/images/steering-wheel.png");
  height: 30px; 
  width: 30px;
  background-size: cover;
  margin: 5px 0px 9px 138px;
}

.frontSeats{
  display: flex;
  justify-content: space-between;

}

.backSeats{
  display: flex;
  justify-content: center;
  gap: 2px;
}

.leftSeats,.rightSeats{
  display: grid;
  justify-content: center;
  gap: 2px;
  grid-template-columns: repeat(2,auto);
}

.seat {
  background-color: #444451;
  height: 20px;
  width: 21px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: rgb(173, 228, 173);
}

.showcase li small {
  margin-left: 10px;
}

.seat:not(.occupied):hover{
  cursor: default;
  transform: scale(1.2);
}

/* Receipt */

.receipt-container{
  padding: 30px;
}

.receipt-head{
  display: flex;
  align-items: center;
}

.receipt-title{
  flex-grow: 2;
}

.bus-logo{
  background: url("/src/images/bus.png");
  height: 90px; 
  width: 90px;
  background-size: cover;
}

.receipt-mainHead{
  text-align: center;
}

.receipt-subHead{
  text-align: center;
}

.info-para{
  font-weight: bold;
}

.greet-para{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
